:root {
  /* color scheme*/
  $gunmetal: #143642;
  $darkCyan: #0f8b8d;
  $carrot: #ec9a29;
  $carnelian: #a8201a;
  $yellow: #ffb900;

  /* greyscale */
  $black: #212529;
  $grey: #e9ecef;
  $border: #f8f9fa;
  $white: #ffff;
}
