@import "../../../custom_styles/index.scss";
.list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  max-width: 400px;
  max-height: 150px;

  border: 1px solid #e9ecef;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--white);

  > div {
    @include text-container;
    display: flex;
    justify-content: space-between;
    > p {
      margin: 0;
    }
  }
}
