@import "../../../custom_styles/index.scss";

.link_spacing {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xxxl);

  @media (max-width: map-get($breakpoints, "md")) {
    margin-top: var(--space-md);
    margin-bottom: var(--space-lg);
    transition: 0.3s margin ease-in;
  }

  @media (max-width: map-get($breakpoints, "sm")) {
    margin-top: var(--space-xl);
    margin-bottom: var(--space-lg);
    transition: 0.3s margin ease-in;
  }
}
