@import "../../custom_styles/index.scss";

.container {
  display: flex;
  flex-direction: column;
}

//here's where we use the grid mixins
.content {
  @extend .wrapper;
  align-self: center;
}

.content {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 50px 20px 50px 20px;
  margin: 30px 50px 100px 50px;

  > div:first-of-type {
    width: 75%;
    align-self: center;
    justify-content: space-between;
  }

  // temp and card headers
  > div:nth-of-type(2) {
    width: 80%;
    align-self: center;
    justify-content: space-evenly;
    margin-right: 20px;
    > div:first-of-type {
      margin-right: 50px;
    }
    @media (max-width: map-get($breakpoints, "lg")) {
      > div:first-of-type {
        margin-right: 0px;
      }
      > div:not(:last-of-type) {
        margin-bottom: 30px;
      }
      flex-direction: column;
      transition: 1s ease-in-out;
    }
  }

  > div:nth-of-type(3) {
    width: 100%;
    align-self: center;
  }

  // cards
  > div:nth-of-type(4) {
    width: 100%;
    align-self: center;
    overflow-x: scroll;
    overflow-y: auto;

    padding: 10px;

    > div:not(:last-of-type) {
      margin-right: 20px;
    }

    @media (min-width: "1320px") {
      justify-content: space-evenly;
    }

    @media (max-width: map-get($breakpoints, "lg")) {
      > div:not(:last-of-type) {
        margin-bottom: 30px;
        margin-right: 0px;
      }
      flex-direction: column;
      transition: 1s ease-in-out;
    }
  }

  > div:not(:last-of-type) {
    margin-bottom: 25px;
  }

  > div {
    display: flex;
    align-items: center;
  }
}
