@import "../../custom_styles/index.scss";

.container {
  display: flex;
  flex-direction: column;
}

//here's where we use the grid mixins
.content {
  @extend .wrapper;
  width: 80%;
  height: 100vh - 30vh;
  margin: 50px 50px 100px 50px;
  padding: 100px 20px 100px 20px;
  align-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 400px;
  min-height: 100px;

  @media (max-height: map-get($breakpoints, "sm")) {
    width: 200px;
    height: 100px;
  }
}

.link_disable {
  pointer-events: none;
}

.link_spacing {
  margin-top: var(--space-lg);

  @media (max-width: map-get($breakpoints, "md")) {
    margin-top: var(--space-md);
    margin-bottom: var(--space-lg);
    transition: 0.3s ease-in-out;
  }

  @media (max-width: map-get($breakpoints, "sm")) {
    margin-top: var(--space-md);
    margin-bottom: var(--space-xl);
    transition: 0.3s ease-in-out;
  }
}

.helperText {
  color: #cdcdcd;
  margin-top: var(--space-lg);
  text-align: center;
  font-size: var(--text-sm);
  font-family: var(--font-secondary);

  &:hover {
    color: var(--gunmetal);
    transition: 0.3s color linear;
  }
}
