@import "../../custom_styles/index.scss";

//here's where we use the grid mixins
.container {
  @extend .wrapper;
  display: flex;
  margin-top: 5vh;
  width: 100% - 10%;
  height: 100vh - 10vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @media (max-width: map-get($breakpoints, "sm")) {
    height: 100vh - 18vh;
    padding-top: var(--space-md);
  }
}

.logo {
  width: 50vw;
  height: 20vh;
}

.link_disable {
  pointer-events: none;
}

.link_spacing {
  margin-top: var(--space-lg);

  @media (max-width: map-get($breakpoints, "md")) {
    margin-top: var(--space-md);
    margin-bottom: var(--space-lg);
    transition: 0.3s margin ease-in;
  }

  @media (max-width: map-get($breakpoints, "sm")) {
    margin-top: var(--space-xl);
    margin-bottom: var(--space-lg);
    transition: 0.3s margin ease-in;
  }
}

.helperText {
  color: #cdcdcd;
  margin-top: var(--space-md);
  text-align: center;
  font-size: var(--text-sm);
  font-family: var(--font-secondary);

  &:hover {
    color: var(--gunmetal);
    transition: 0.3s color linear;
  }
}

.errorText {
  @extend .helperText;
  color: var(--carnelian);
  text-align: center;
}
.successText {
  @extend .helperText;
  color: var(--darkCyan);
  text-align: center;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
