@import "../../custom_styles/index.scss";

//here's where we use the grid mixins
.container {
  @extend .wrapper;
  display: flex;
  margin-top: 5vh;
  width: 100% - 10%;
  height: 100vh - 10vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @media (max-width: map-get($breakpoints, "sm")) {
    height: 100vh - 18vh;
    padding-top: var(--space-md);
  }
}

.link_disable {
  pointer-events: none;
}

.link_spacing {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xxxl);

  @media (max-width: map-get($breakpoints, "md")) {
    margin-top: var(--space-md);
    margin-bottom: var(--space-lg);
    transition: 0.3s margin ease-in;
  }

  @media (max-width: map-get($breakpoints, "sm")) {
    margin-top: var(--space-xl);
    margin-bottom: var(--space-lg);
    transition: 0.3s margin ease-in;
  }
}

.searchBtn {
  @include text-container;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 1em 2em 1em 2em;
  background-color: var(--gunmetal);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--white);
  font-size: var(--text-sm);
  font-weight: 700;
  &:hover {
    background-color: #ec9b29;
    transition: 0.3s ease-in-out;
  }
  &:focus {
    outline: 0;
  }
  &:active {
    color: var(--white);
  }

  @media (max-width: map-get($breakpoints, "sm")) {
    font-size: var(--text-md);
    transition: 1s ease-in-out;
  }
}
