@import "../../../custom_styles/index.scss";

.backBtn {
  @include text-container;
  border: none;
  background-color: transparent;

  .backIcon {
    width: 3em;
    height: 2em;
    @media (max-width: map-get($breakpoints, "sm")) {
      transition: 0.5s linear;
    }
  }

  > p {
    margin: 0;
    font-size: var(--text-md);
  }

  &:hover {
    color: var(--gunmetal);
    opacity: 0.3;
    transition: 0.3s opacity;
  }

  &:focus {
    outline: 0;
  }
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  .logo {
    width: 7em;
    height: 100%;
  }

  @media (max-width: map-get($breakpoints, "sm")) {
    transition: 0.5s linear;
  }
}
